/* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
@media only screen and (min-width: 50em) {

    #banner {
        max-width: 1000px
    }

    #logo {
        width: 30%;
        top: 10%;
        left: 12%;
    }

    .portfolio li {
        width: 20%;
        margin: 2% 2% 2% 2%;
    }


    .portimage {
        width: 40%;
        margin: 3% 2.5%;
        display: inline;
        vertical-align: top;
        height: 100%;
    }

    footer {
        padding: 1% 3%;
    }
}

@media only screen and (min-width: 64em) {

    #banner {
        max-width: 1000px
    }

    #logo {
        width: 25%;
        left: 15%;
    }

    footer {
        padding: 0.5% 3%;
    }
}
